.our-product {
  padding-top: 100px;
  padding-bottom: 100;
  background-color: #fff;
}

.our-product__body {
  text-align: center;
}

.our-product__title {
  margin: 0 0 64px 0;
  font-family: var(--hind-madurai);
  font-size: 44px;
  font-weight: 600;
  color: #150101;
}

.our-product__menu {
  display: grid;
  gap: 34px;
}

/* Класс специальный! Для отображения
работоспособности табов
Удалить перед применением! */
.preview {
  position: relative;
}

.preview__window {
  position: absolute;
  top: 12px;
  left: 50%;
  padding: 24px 64px;
  font-family: sans-serif;
  color: #333;
  text-transform: uppercase;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 0 15px rgb(0 0 0 / 0.2);
  transform: translateX(-50%);
}
