.tabs__tab-list {
  display: grid;
  grid-template-columns: repeat(6, max-content);
  gap: 40px;
  justify-content: center;
  padding: 0;
  margin: 0;
  font-family: var(--roboto);
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  list-style: none;
}

.tabs__trigger {
  color: #666;
  text-decoration: none;
}

.tabs__trigger.is-selected {
  color: #000;
  text-decoration: underline 3px #d64374;
}

.tabs__panel {
  display: none;
}

.is-initialized .tabs__panel {
  display: inherit;
}

.tabs__panel.is-hidden {
  display: none;
}
